/* Css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* Generics  */

/* Utils  */

/* Header  */
header {
    height: 80px;
    background-color: #000;
}

/* Main-Cards  */
main {
    height: calc(100vh - 80px);
    background-color: dodgerblue;
    overflow-y: auto;
}


/* Footer  */
