/* Css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

/* Generics  */


.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}



/* Utils  */



/* Header  */
header {
    height: 80px;
    background-color: #000;
    position: relative;
    

}

.screen-commands {
    position: absolute;
    padding: 5px;
    right: 0;
}

.view-settings {
    background-color: #67747e;
    padding: 3.5px 10px;
    line-height: 34px;
    vertical-align: middle;
    border-radius: 5px;
}

.max {
    background-color: #67747e;
    padding: 3.5px;
    border-radius: 5px;
    line-height: 34px;
    vertical-align: middle;
}

/* Main-Cards  */
main {
    height: calc(100vh - 160px);
    background-color: #000000;
    overflow-y: auto;
}
.card {
    height: 150px;
    width: 250px;
    background-image: url(https://picsum.photos/seed/picsum/400/300);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
    
}

.user {
    background-color: #67747e;
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* Footer  */
footer {
    background-color: #222222;
    height: 80px;
}

.navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.audiovisual-commands {
    padding-left: 25px;

}

.command {
   padding-top: 15px;
}


.finish {
    color: red;
    background-color: #4a4a4a;
    height: 100%;
    padding: 0 25px;
    line-height: 80px;
    cursor: pointer;
}

.wrapper {
    display: inline-block;
    padding-right: 25px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
}